/*= Reset CSS 
============= */
html, body {border: 0; margin: 0; padding: 0;}
body {font: 14px "Lato", Arial, sans-serif; min-width: 100%; min-height: 100%; color: #666;}
.container{margin: 0 auto; max-width: 1200px;}
*{margin: 0; padding: 0; box-sizing: border-box;}
.row{float: left; width: 100%; padding: 20px 0 50px;}
h2{text-align: center; color: #2079df; font-size: 28px; float: left; width: 100%; margin: 30px 0; position: relative; line-height: 58px; font-weight: 400;}
h2:before{content: ""; position: absolute; left: 50%; bottom: 0; width: 100px; height: 2px; background-color: #2079df; margin-left: -50px;}
/*= Reset CSS End
================= */
body, html {
    cursor: default ;
    height: 100%;
    background-color: black;
}

textarea {
    resize:none;
}

/*--== Header ==--*/
.hero-text {
    margin: 0;
    max-width: 5000px;
    padding: 32px 32px 32px 5vh;
    padding-left: 5vh;
    height: 250px;
    overflow: hidden;
}
.hero-text h1 {
    position: relative;
    font-family: 'Exo', sans-serif;
    font-size: 5em;
    margin: 0;
    transform: skew(-15deg);
    letter-spacing: 0.03em;
}
.hero-text h1::after {
    content: '';
    position: absolute;
    top: -0.1em;
    right: 0.05em;
    width: 0.4em;
    height: 0.4em;
    background: 
      radial-gradient(white 3%, rgba(white, 0.3) 15%, rgba(white, 0.05) 60%, transparent 80%),
      radial-gradient(rgba(white, 0.2) 50%, transparent 60%) 50% 50% / 5% 100%,
      radial-gradient(rgba(white, 0.2) 50%, transparent 60%) 50% 50% / 70% 5%;
    background-repeat: no-repeat;
} 
.hero-text h1 span:first-child {
    display: block;
    text-shadow: 0 0 0.1em #8ba2d0, 0 0 0.2em black,  0 0 0.1em #165ff3;
    -webkit-text-stroke: 0.06em rgba(black, 0.5);
}
.hero-text h1 span:last-child {
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(#032d50 25%, #004a6e 35%, #3848a1 35%, #360a9b 50%, #8313e7 55%, #ff61af 75%);
    background-clip: text;
    -webkit-text-stroke: 0.01em #94a0b9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-text h2 {
    display: inline;
    font-family: 'Mr Dafoe', cursive;
    margin: 0;
    font-size: 3.5em;
    margin-top: -0.2em;
    left:0;
    color: white;
    text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
    transform: rotate(-7deg);
    text-decoration:none;
}
.hero-text h2::before{
    content: none;
}
/*--== Header End ==--*/

/*--== Search ==--*/
.search-wrapper {
    position: relative;
    display:flex;
    width: 100%;
    align-items: center;
    padding-left: 5vh;
}
.search-wrapper input {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    width: 180px;
    background-color: white;
    color:black;
    box-shadow: 0;
    border: 2px #fff;
    border-style:solid;
    border-radius: 4px;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.search-wrapper button {
    background-color: #fff;
    border-radius: 2px;
    border: 0px;
    margin-left: 12px;
    width: 80px;
    height: 32px;
    transition: background-color 0.3s ease-in-out;
}
@media(hover: hover) and (pointer: fine) {
    .search-wrapper button:hover {
        background-color: rgb(0, 0, 0);
        color:white;
    }
    .search-wrapper button:active {
        box-shadow: 0px 0px 2px #fff !important;
    }
}
.search-wrapper button:active {
    background-color: rgb(0, 0, 0);
    color:white;
}
/*--== Search End==--*/

/*---== Article ==-- */
.articles {
    display: none;
    padding: 5vh;
    color: #eee;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.articles .box {
    background-color: #ffffff15;
    padding: 5vh;
    width: 100%;
    margin: 0;
    border-radius: 12px;
}
.articles .article-header {
    display:flex;
    align-items: center;
    margin-bottom: 20px;
}
.articles .header,
.modal-content .header {
    display:inline;
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    display:flex;
    align-items: center;
    text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
    color: #eee;
}
.articles .article-header button {
    border: 0;
    border-radius: 4rem;
    box-shadow: 0 0 0.02rem #fff, 0 0 0.3rem #fff;
    padding: 0.2rem;
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 3rem;
    transition: all .1s ease-in-out;
    background-color: #fff;
}
@media(hover: hover) and (pointer: fine) {
    .articles .article-header button:hover {
        background-color: rgb(0, 0, 0);
        color:white;
    }
}
@media only screen and (max-width: 600px) {
    .articles .article-header {
        justify-content: space-between;
    }
    .articles .article-header button {
        margin-left: 1rem;
    }
}
.articles .article-header button:active {
    background-color: rgb(0, 0, 0);
    color:white;
}
.articles .sub-title {
    font-size: 1.2em;
    margin-top: 12px;
    color: rgb(150, 150, 150);
}
.articles .sub-title .bug {
    text-transform: capitalize;
}
.articles .sub-title nolog {
    color:white;
    text-shadow: 0 0 0.05em #fff, 0 0 0.3em #fe3f05, 0 0 0.6em #fe0505;
}
.articles .context {
    font-size: 1em;
    color: rgb(190, 190, 190);
    padding-left: 2vh;
    padding-top: 1vh;
}
.articles .context a,
.articles .context sp {
    color: white;
    text-shadow: 0 0 0.025em #fff, 0 0 0.2em #0547fe, 0 0 0.3em #05ccfe;
}
.articles .context .add,
.articles .context .ch,
.articles .context .wip,
.articles .context .csder,
.articles .context .kbug,
.articles .context .fbug {
    color: white;
    text-shadow: 0 0 0.025em #fff, 0 0 0.2em #8605fe, 0 0 0.3em #8e05fe;
}
.articles .context sp::before,
.articles .context a::before {
    content:"[";
}
.articles .context sp::after,
.articles .context a::after {
    content:"]";
}
.articles .context egg {
    color: grey;
}
.articles .context egg::before {
    content:"e.g. ";
}
.articles a.anchor {
    display: block;
    position: relative;
    top: -180px;
    visibility: hidden;
}
.articles .context none {
    color: grey;
}
.articles .context ul {
    padding: 12px; 
    list-style:none; 
}
.articles .context ul>li {
    margin-bottom: 0.5em;
}
.articles .context ul>li:before {    
    content: '👉';
    font-size: 1em;
    margin:0 5px 0 -15px;
}
.articles .context ul>li:after {    
    content: '.';
    color: rgb(190, 190, 190);
}
/*---== Article End ==-- */

/*--== Modal ==--*/
body.modal-open {
    overflow: hidden;
}
#modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
}
.bg-blur {
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.2);
    position: absolute;
    top:0;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}
.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content {
    width: fit-content;
    height: fit-content;
    background-color: #1d1d1d;
    border-radius: 1rem;
    position: relative;
    padding: 1.5rem;
    color: whitesmoke;
    border: 1px solid #fff;
    box-shadow: 0 0 0.02rem #fff, 0 0 0.5rem #fff;
}
.modal-content .close {
    position: relative;
    top: 0;
    float: right;
    font-size: 2rem;
    transform: rotate(45deg);
    cursor: pointer;
}
.modal-content .wrapper {
    margin: 1.5rem auto;
}
.modal-content label {
    display: block;
    font-size: 1rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-bottom: 0.4rem;
    color: lightgrey;
    font-style: oblique;
}
.modal-content input,
.modal-content textarea {
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
    border: 3px solid #fff;
    border-radius: 6px;
    margin-bottom: 2rem;
    font-size: 1.05rem;
    max-width: 20rem;
    width: 20rem;
}
.modal-content input {
    max-height: 2rem;
}
.modal-content input[name='date']:disabled {
    background-color: transparent;
    border:0;
    font-size:1.5rem;
    color: white;
}
.modal-content textarea {
    max-height: 8rem;
}
.modal-content button {
    width: 5rem;
    height: 3rem;
    border-radius: 6px;
    background-color: #1d1d1d;
    border: 2px solid #fff;
    color: white;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    transition: all 0.1s ease-in-out;
}

@media(hover: hover) and (pointer: fine) {
    .modal-content button.btneffect:hover {
        background-color: whitesmoke;
        color: black;
        font-size: 1.05rem;
        transform: scale(1.1)
    }
}
@media only screen and (max-width: 600px) {
    .bg-modal .modal-content {
        transform: scale(0.8)
    }
    .modal-content button.btneffect:active {
        background-color: whitesmoke;
        color: black;
        font-size: 1.05rem;
        transform: scale(1.1)
    }
}